body{
	font-family:"宋体",SimSun;
}
.row{
	position: relative;
}
.full-page-section{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
	display: none;
	position: absolute;
}

.full-page-section>img{
	height: 100%;
	width: auto;
}

.full-page-section-2>img{
	width: 100%;
	height: auto;
}

.full-page-section .description{
	width: 100%;
	text-align: center;
	font-size: 24px;
	padding: 200px 10px;
	z-index: 100;
}
.full-page-section .description h2{
	font-size: 36px;
}
.full-page-section .logo{
	max-width: 300px;
	margin: 100px auto;
	text-align: center;
	padding: 20px 20px;
}
.full-page-section .logo>img{
	width: 100%;
}
.text-gray{
	color: #888;
}
.bg-gray{
	background-color: #EEE;
}
.bg-green{
	background-color: #92d050;
	color: #FFF;
}

.side-nav{
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	background-color: rgba(255,255,255, 0.5);
	width: 100px;
	padding: 0 0;
}
.side-nav>ul{
	padding: 0 0;
	margin: 10px 0;
	list-style: none;
}
.side-nav>ul>li{
	padding: 10px 1px;
	margin-bottom: 1px;
	cursor: pointer;
	text-align: center;
	height: 50px;
	overflow: hidden;
}
.side-nav>ul>li>img{
	width: 100%;
	filter:alpha(opacity=50);   
		-moz-opacity:0.5;   
		-khtml-opacity: 0.5;   
		opacity: 0.5;
}



